* {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #3f3d56;
  margin-bottom: 16px;
}

h1 span {
  font-weight: 700;
  color: #ee24ff;
}

#main {
  width: 580px;
  margin: 0 auto 80px;
}

#globo {
  margin-bottom: 32px;
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;
}

p + p {
  margin-top: 32px;
}

#main p strong {
  color: #3f3d56;
}

p #parte {
  font-weight: bold;
}

footer {
  width: 100%;
}

footer a {
  color: #3f3d56;
  text-decoration: none;
  font-weight: bold;
}
a + a {
  margin-left: 42px;
}

#onda {
  margin: 40px auto -5px;
}
